
.main{
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(91, 67, 67);
    height: 60px;
    margin: 0;
    padding: 0;
}
.nav h1{
    color: white;
    margin: 0;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: cursive;
} 
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 20px;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.nav .nav-search{
    /* margin-top: 5px; */
    flex: 1;
    display: flex;
    margin-left: 20%;
    margin-right: 12%;
}

.nav .nav-search input{
    flex: 1;
    color: white;
    border: 1px solid white;
    height : 35px;
    border-right: 0px;
    margin-top: 15px;
}
.nav .nav-search button{
 
    color: white;
    border: 1px solid white;
    height : 34px;
    border-left: 0px;
    margin-top: 15px;
}

/* Styles for tablets */
@media (max-width: 768px) {
    .nav .nav-search{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Styles for mobile */
@media (max-width: 576px) {
    .nav .nav-search{
        margin-left: 5%;
        margin-right: 5%;
    }
    .nav .nav-search input{
        width: 80%;
    }
    .nav .nav-search button{
        width: 20%;
    }
}
