/* .signup{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 30%;
    border: 1px solid black;
    border-radius: 9px;
    height: 80%;
    width: 20%;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
 
    text-align: center;
} */

.seller-auth{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup{
    border: 1px solid orange;
    border-radius: 15px;
    padding: 50px;
}
.signup h1{
    margin-bottom: 20px;
    text-align: center;
}