<div class="seller-auth">
    <div class="signup">
        <h1>SignUp</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" ngModel type="text" placeholder="Enter Name" name="name">
            <input class="form-input" ngModel type="email" placeholder="Enter Email" name="email">
            <input class="form-input" ngModel type="password" placeholder="Enter Password" name="password"> 
            <button class="form-button">SignUp</button>   
        </form>
    </div>
</div>